transformers
datasets
sentence-transformers
pillow
fire
huggingface_hub
accelerate
sentencepiece
bitsandbytes
lightning
vllm
mistral_common
mistral_inference
shortuuid
tqdm
tensorboard
pandas
matplotlib
torchmetrics
deepspeed
peft
wandb
